.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header .logo {
  margin-top: 20px;
}
.header ul {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 22px;
}
.header ul li {
  display: inline-block;
}
.header ul li a {
  padding: 10px;
  text-decoration: none;
}
.header ul li:hover a {
  background-color: #A8E6FE;
}
@media (max-width: 768px) {
  .header ul {
    display: none;
  }
}
.header .fa-bars {
  display: none;
  font-size: 25px;
  margin: 20px 0;
}
@media (max-width: 768px) {
  .header .fa-bars {
    display: block;
  }
}
.layout-homepage {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 30px;
}
.layout-homepage .container {
  margin: 0 auto;
  height: 100%;
  justify-content: center;
  max-width: 1200px;
}
.layout-homepage .container h1 {
  margin-left: 10px;
  color: #000067;
  text-transform: uppercase;
}
.layout-homepage .container .pasta-corta, .layout-homepage .container .pasta-lunga, .layout-homepage .container .pasta-cortissima {
  display: flex;
  flex-wrap: wrap;
}
.layout-homepage a {
  display: block;
  width: 30%;
  margin: 10px 10px;
}
@media (max-width: 768px) {
  .layout-homepage a {
    width: 46%;
  }
}
@media (max-width: 576px) {
  .layout-homepage a {
    width: 100%;
  }
}
.layout-homepage img {
  width: 100%;
  height: auto;
}

.layer-product {
  position: relative;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: #b0dbe6;
}
.layer-product .angle-left, .layer-product .angle-right {
  width: 30px;
  font-size: 30px;
  color: #fff;
  line-height: 50px;
  text-align: center;
  position: absolute;
  top: 50%;
  height: 50px;
  transform: translate(0, -50%);
  background-color: rgba(238, 238, 238, 0.5);
}
.layer-product .angle-right {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.layer-product .angle-right {
  right: 0;
  border-radius: 0 3px 3px 0;
}
.layer-product .container {
  margin: 0 auto;
  height: 100%;
  justify-content: center;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
}
.layer-product .box-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
.layer-product .box-product img {
  width: 100%;
}
.layer-product .box-product .title {
  color: #000067;
  font-weight: 600;
  font-size: 22px;
  margin-top: 30px;
}
.layer-product .box-product .descrizione {
  color: #000067;
  font-size: 17px;
  line-height: 150%;
  margin-bottom: 20px;
}

.layout-news {
  color: #fff;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.layout-news .container {
  margin: 0 auto;
  padding-top: 60px;
  height: 100%;
  justify-content: center;
  max-width: 1200px;
}
.layout-news .container .news {
  width: 100%;
  height: 2870px;
  display: flex;
  flex-flow: column wrap;
}
.layout-news .container .news img {
  margin: 20px 0;
}
.layout-news .container .news a {
  text-align: center;
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  width: calc(100% / 3 - 2%);
  background-color: rgba(0, 0, 0, 0.7);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 1%;
}

.footer {
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 0 40px 100px 40px;
}
.footer .container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}
@media (max-width: 768px) {
  .footer .container {
    align-items: center;
    flex-direction: column;
  }
}
.footer .container-left, .footer .container-center, .footer .container-right {
  width: calc(100% / 3);
  margin: 10px 10px;
  color: #727E91;
}
@media (max-width: 768px) {
  .footer .container-left, .footer .container-center, .footer .container-right {
    width: 100%;
  }
}
.footer .container-center ul li, .footer .container-right ul li {
  margin-top: 10px;
}
.footer .container-left ul li {
  margin: 2px;
}
.footer .container h3 {
  margin: 20px 0;
  font-size: 26px;
  font-weight: 400;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

.wrapper {
  width: 100%;
  height: 100%;
}

ul li {
  list-style: none;
}

ol {
  padding-left: 40px;
}

.active {
  background-color: #A8E6FE;
}
