.footer{
background-repeat: no-repeat;
background-position: bottom;
padding:0 40px 100px 40px;
  .container{
    width:100%;
    max-width:1200px;
    margin:0 auto;
  @include flex;
@media (max-width: 768px) {
align-items:center;
 flex-direction:column;}
&-left,&-center,&-right {
  @media (max-width: 768px) {
  width:100%;
}
  width:calc(100% / 3);
  margin:10px 10px;
  color:#727E91;
}
&-center ul li, &-right ul li{margin-top:10px;
}
&-left ul li {margin:2px;}
h3{margin:20px 0;
  font-size: 26px;
font-weight: 400;}
}
}

// @media (min-width: 576px) {  }
//
// @media (min-width: 768px) {  }
//
// @media (min-width: 992px) {  }
