.header{
  @include flex;
  flex-direction: column;
  align-items:center;
  .logo{
    margin-top:20px;
  }
  ul { margin-top:20px;
    margin-bottom:10px;
    font-size: 22px;
     li{
    display:inline-block;
    a{padding:10px;
    text-decoration: none;}
    &:hover a {
      background-color: #A8E6FE;
    }
  }
}
}
