.layout-homepage{
  width:100%;
  height:max-content;
background-size: cover;
  .container{
    margin:0 auto;
    height:100%;
    justify-content: center;
   max-width:1200px;
    @include flex;
    flex-wrap: wrap;
  }

a{
  width:30%;
  margin:10px 10px;
  height:250px;
  display:block;
}
.box{
  width:100%;
  height:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover
}
}
.layer-product{
  width:100%;
  height:max-content;
  background-color: #b0dbe6;

  .container{
    margin:0 auto;
    height:100%;
    justify-content: center;
   max-width:1200px;
    @include flex;
    flex-wrap: wrap;
  }

.box-product{
  @include flex;
  flex-direction:column;
  align-items:center;
  width:100%;
  height:100%;
  .title{
    color:#000067;
    font-weight:600;
    font-size: 22px;
    margin-top:30px;
  }
  img{
    height:440px;
  }
  .descrizione{
    color:#000067;
    font-size: 17px;
    line-height: 150%;
    margin-bottom:20px;
  }
}
}
